[Unit]
Description=Logmon web server (Puma)
After=network.target

[Service]
Type=simple
User=roberto
WorkingDirectory=/opt/logmon
EnvironmentFile=/etc/logmon/logmon.env
Environment=PATH=/home/roberto/.rbenv/shims:/home/roberto/.rbenv/bin:/usr/local/bin:/usr/bin:/bin

ExecStart=/home/roberto/.rbenv/shims/bundle exec puma -C config/puma.rb

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=logmon-web

[Install]
WantedBy=multi-user.target
